<!-- projects dropdown -->
<div class="project-context hidden-xs">

	<span class="label">Modulos:</span>
	<span class="project-selector dropdown-toggle" data-toggle="dropdown">Módulos Recentes <i class="fa fa-angle-down"></i></span>

	<!-- Suggestion: populate this list with fetch and push technique -->
	<ul class="dropdown-menu">
		<li>
			<a href="javascript:void(0);"><i class="fa fa-power-off"></i> Administração</a>
		</li>
        <li class="divider"></li>
		<li>
			<a href="javascript:void(0);"><i class="fa fa-power-off"></i> PT</a>
		</li>
        <li class="divider"></li>
		<li>
			<a href="javascript:void(0);"><i class="fa fa-power-off"></i> Gestão de Riscos</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
		</li>
	</ul>
	<!-- end dropdown-menu-->

</div>
<!-- end projects dropdown -->