<div id="shortcut">
	<ul>
		<li class="text-center">
            <a href="@Url.Action("ChangePassword", "User")" class="jarvismetro-tile big-cubes medium bg-color-pinkDark">
                <span class="iconbox "> <i class="fa fa-user fa-4x"></i>
                    @Resources.Resource.lbl_ChangePassword
                </span>
            </a>
		</li>
	</ul>
</div>