@model IEnumerable<YAPMT_PM.Models.Project>
@{
    ViewBag.Title = "Projects";
}

@{Html.RenderAction("ProjectsPartial", "Home");} 

      
 <div class="container-fluid">

      <div class="row">
          
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
           @*<h1>Dashboard</h1>*@
        </main>
      </div>
    </div>