@{
    ViewBag.Title = "wcfPage";
}

<h2>wcfPage</h2>

 <div class="container-fluid">
      <div class="row">
                            <p>
                                <button class="btn btn-primary" id="btnPost">Post</button>
                            </p>

                   

          </div>

     <div class="row">

                            <p>
                                <button class="btn btn-primary" id="btnCancelar">Cancelar</button>
                            </p>
         </div>
     </div>



<script>







</script>